$main-font: 'Roboto', sans-serif;
$secondary-font: 'Shadows Into Light', cursive;


$font-color-1: #fff;
$font-color-2: #b7b7b7;
$font-color-3: #888;
$font-color-4: #0088cc;
$font-color-5: #777;
$font-color-6: #555;
$font-color-7: #444;
$font-color-8: #333;
$font-color-9: #212529;
$font-color-10: #000;


$bg-color-1: #fff;
$bg-color-2: #f7f7f7;
$bg-color-3: #d6d6d6;
$bg-color-4: #ccc;
$bg-color-5: #0088cc;
$bg-color-6: #0074ad;
$bg-color-7: #404040;
$bg-color-8: #212529;
$bg-color-9: #212529cc;
$bg-color-10: #1c2023;
$bg-color-11: #17171740;
$bg-color-12: #00000008;
$bg-color-13: #000;


$border-color-1: #f7f7f7;
$border-color-2: #eee;
$border-color-3: #ededed;
$border-color-4: #e2e2e2;
$border-color-5: #d9d9d9;
$border-color-6: #bfbfbf;
$border-color-7: #0088cc;
$border-color-8: #005580;
$border-color-9: #212529;
$border-color-10: #0a0c0d;
$border-color-11: #0000000f;